<section class="hero">
  <div class="navbar">
    <nav>
      <button class="home__button" type="button">Home</button>
      <button class="about__button" type="button">About</button>
      <button class="contact__button" type="button">Contacts</button>
    </nav>
  </div>
  <div class="slogan">
    <h2>
      Forget limits, embrace potential
    </h2>
  </div>
</section>

<section class="action-1">
  <div class="title">
    <h1>
      Join Us
    </h1>
  </div>
  <div class="text">
    <p>
      Are you read for a journey ? A path of self-ilumination ?
      Click on any of buttons bellow to get started
    </p>
  </div>
  <div class="button_class">
    <button type="button">Login</button>
  </div>
</section>

<section class="action-2">
  <div class="title">
    <h1>
      No Account ?
    </h1>
  </div>
  <div class="text">
    <p>
      Take the plunge today and discover your potential. Jump right in!
    </p>
  </div>
  <div class="button_class">
    <button type="button">Signup</button>
  </div>
</section>

<footer class="framer-footer">
  <h1>
    Footer
  </h1>
</footer>
